<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/meta') %>
        <title>500 | MabsrenCode</title>
        <%- include('../includes/favicon') %>
            <link rel="stylesheet" href="/css/shared-style.css" type="text/css">
            <link rel="stylesheet" href="/css/blogs.css" type="text/css">
            <link rel="stylesheet" href="/css/public-footer.css" type="text/css">
            <link rel="stylesheet" href="/css/public-navbar.css" type="text/css">
            <%- include('../includes/scripts') %>
                <style>
                    .error {
                        text-align: center;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                </style>
</head>

<body>
    <%- include('../includes/navbar') %>
        <main>
            <div class="error">
                <h1>Something went wrong!</h1>
                <h1>500</h1>
                <p>Unfortunately, something went wrong on the server - we're doing our best to fix it as quickly as possible!</p>
            </div>

        </main>
        <script type="text/javascript" src="/scripts/blog-post.js"></script>
</body>

</html>