h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  color: var(--bg-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--bg-color);
  font-weight: 600;
  opacity: 0.7;
}
body {
  background-color: #fff;
}
main {
  margin-block: 15rem 8rem;
  max-width: 800px;
  margin-inline: auto;
  text-align: justify;
  & h1 {
    margin-bottom: 1rem;
  }
}
ol {
  margin-block: 1rem;
}
ol > li {
  margin-top: 1rem;
}
p > a {
  color: var(--bg-color);
  font-weight: 700;
}
p > a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 840px) {
  main {
    margin-inline: 2rem;
  }
}
